/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
  box-sizing: content-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.card {
  margin: 40px auto 0;
  max-width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 386px);
}
@media screen and (max-width: 428px) {
  .card {
    grid-template-columns: repeat(auto-fill, 330px);
    margin: 20px auto 0;
  }
}

.card_inner {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 40px;
  padding: 10px;
  border: 3px solid #3165A5;
  border-radius: 20px;
}
@media screen and (max-width: 428px) {
  .card_inner {
    width: 330px;
    padding: 8px;
    margin-bottom: 20px;
  }
}
.card_inner h1 {
  font-size: 24px;
  margin: 8px 0;
  text-align: center;
}
.card_inner h3 {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}
.card_inner a {
  display: block;
  overflow: hidden;
}
.card_inner img {
  width: 100%;
  height: 250px;
}
.card_inner img:hover {
  transform: scale(1.1);
}
.card_inner p {
  margin: 8px 0 16px;
  width: 100%;
  height: 100px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.6;
}
.card_inner button {
  display: block;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: right;
  background-color: #3165A5;
  color: white;
  margin-right: 10px;
}
.card_inner button:hover {
  background-color: #d25541;
}
.card_inner .updatabtn {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.editPopup {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}

.editinfo {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .editinfo {
    width: 360px;
    padding-bottom: 20px;
  }
}
.editinfo .editTitle {
  height: 60px;
  background-color: #3165A5;
  width: 600px;
  margin-bottom: 40px;
  position: relative;
}
@media screen and (max-width: 428px) {
  .editinfo .editTitle {
    width: 360px;
    margin-bottom: 20px;
  }
}
.editinfo .editTitle i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
  color: white;
}
.editinfo .editTitle h3 {
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.editinfo .editinfo_inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 428px) {
  .editinfo .editinfo_inner {
    width: 330px;
  }
}
.editinfo .editinfo_inner label {
  font-size: 20px;
  margin-bottom: 8px;
}
@media screen and (max-width: 428px) {
  .editinfo .editinfo_inner label {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
.editinfo .editinfo_inner input {
  height: 30px;
  margin-bottom: 16px;
  font-size: 16px;
}
@media screen and (max-width: 428px) {
  .editinfo .editinfo_inner input {
    margin-bottom: 8px;
  }
}
.editinfo .editinfo_inner textarea {
  margin-bottom: 40px;
  font-size: 16px;
}
@media screen and (max-width: 428px) {
  .editinfo .editinfo_inner textarea {
    margin-bottom: 8px;
  }
}
.editinfo .editinfo_inner button {
  height: 40px;
  width: 200px;
  margin: 0 auto;
  background-color: #3165A5;
  color: white;
  border-radius: 5px;
}
.editinfo .editinfo_inner button:hover {
  background-color: #d25541;
}

.pages {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}
.pages li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.pages li:hover {
  color: white;
  background-color: #3165A5;
  border-radius: 50%;
}

.category {
  font-size: 24px;
  width: 240px;
  height: 40px;
  background-color: #3165A5;
  text-align: center;
  line-height: 40px;
  color: white;
}
@media screen and (max-width: 428px) {
  .category {
    width: 350px;
  }
}
.category .choosecategory {
  width: 240px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .category .choosecategory {
    width: 350px;
  }
}
.category .choosecategory:hover {
  box-sizing: border-box;
  background-color: rgb(189, 189, 189);
  color: #3165A5;
}
.category ol {
  width: 240px;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 428px) {
  .category ol {
    width: 350px;
  }
}
.category ol li {
  color: #3165A5;
  background-color: #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid white;
}
.category ol li:hover {
  background-color: #3165A5;
  color: white;
  border: 0;
}

.wrapper {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 428px) {
  .wrapper {
    max-width: 350px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
header .logo {
  display: block;
}
@media screen and (max-width: 428px) {
  header .logo {
    display: flex;
    align-items: center;
  }
}
header .logo img {
  height: 60px;
}
@media screen and (max-width: 428px) {
  header .logo img {
    height: 30px;
  }
}
header .header_right {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 428px) {
  header .header_right {
    width: 170px;
  }
}
header a {
  font-size: 40px;
  line-height: 80px;
  color: #3165A5;
  font-weight: bolder;
}
header a:hover {
  color: #d25541;
}
@media screen and (max-width: 428px) {
  header a {
    font-size: 20px;
  }
}
header button {
  background: white;
  line-height: 60px;
}
header button i {
  color: #3165A5;
  font-size: 40px;
}
header button i:hover {
  color: #d25541;
}
@media screen and (max-width: 428px) {
  header button i {
    font-size: 20px;
  }
}
header button span {
  color: #3165A5;
  font-size: 40px;
}
@media screen and (max-width: 428px) {
  header button span {
    font-size: 20px;
  }
}

.pageTitle {
  text-align: center;
  color: #3165A5;
  font-size: 40px;
}/*# sourceMappingURL=style.css.map */