<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@2"></script>
    <title>我的最愛</title>
</head>
<body>
    <div id="fav_app">

        <header></header>
        <main>
            <!-- 編輯我的最愛 -->
            <div class="editinfo" v-if="showeEditplace">
                <div class="editinfo_inner" >
                    <h3>編輯我的最愛</h3>
                    <label for="name">名稱：</label><input type="text" id="name" v-model.trim="name">
                    <label for="address">地址：</label><input type="text" id="address" v-model.trim="address">
                    <label for="tel">電話：</label><input type="text" id="tel" v-model.trim="tel">
                    <label for="intro">介紹：</label><textarea id="intro" cols="30" rows="10" v-model.trim="intro"></textarea>
                    <button @click="savemyfav()">確認</button>
                </div>
            </div>

            <!-- 加入我的最愛資料 -->
            <div class="info">
                <ul class="card">
                    <li v-for="(spot,index) in myfavlist" class="card_inner">
                        <a :href="spot.url"><img :src="spot.pic" alt=""></a>
                        <h1>{{spot.name}}</h1>
                        <h3>{{spot.address}}</h3>
                        <h3>{{spot.tel}}</h3>
                        <p>{{spot.intro}}</p> 
                        <div><button @click="editmyfav(spot)">編輯資料</button></div>
                        <div><button @click="removemyfav(spot.id)">移除最愛</button></div>
                        
                    </li>
                </ul>

                <!-- 頁碼 -->
                <ul class="pages">
                    
                    <li v-for=" page in pages"  @click="toPage(page)" :class="{currentPage:whichpage  === (page)}" >{{page}}</li>
                    
                </ul>

            </div>


        </main>

        <script>

            new Vue({
                el:"#fav_app",
                data:{
                    allspotdata:[],
                    pages:0,
                    currentPage: 1,
                    id: null,
                    name: null,
                    address: null,
                    tel: null,
                    intro: null,
                    showeEditplace:false
                },
                methods: {

                    // 刪除我的最愛
                    removemyfav(id){
                        this.allspotdata = this.allspotdata.filter(function(item){
                            return item.id != id  // 得出點擊刪除的景點以外的景點
                        });
                        console.log(this.allspotdata)
                        // console.log(this.allspotdata.length)
                        
                        if(this.allspotdata.length === 0){ //判斷為空陣列
                            localStorage.removeItem("data"); 
                            alert("已從我的最愛移除囉");
                        }else{   
                            localStorage.setItem("data",JSON.stringify(this.allspotdata));
                            alert("已從我的最愛移除囉");
                        }

                    },

                    // 編輯我的最愛
                    editmyfav(item){
                        // console.log(item);
                        // console.log(item.name);
                        this.showeEditplace = true;
                        this.id = item.id;
                        this.pic = item.pic
                        this.name = item.name;
                        this.address= item.address;
                        this.tel= item.tel;
                        this.intro= item.intro;
                        // console.log(this.name);
                    },

                    //確認更改我的最愛
                    savemyfav(){
                        // console.log(this.id);
                        // console.log(this.name);
                        // console.log(this.pic)
                        let updaateMyfavData ={
                            "id": this.id,
                            "pic": this.pic,
                            "name": this.name,
                            "address": this.address,
                            "tel": this.tel,
                            "intro": this.intro,
                        }

                        if(updaateMyfavData.name == ""){
                            alert("名稱不可空白");
                        }else{
                                for(let i = 0; i < this.allspotdata.length ; i++){
                                if(updaateMyfavData.id == this.allspotdata[i].id){
                                    // console.log(i);
                                    this.allspotdata[i].name = updaateMyfavData.name;
                                    this.allspotdata[i].address = updaateMyfavData.address;
                                    this.allspotdata[i].tel = updaateMyfavData.tel;
                                    this.allspotdata[i].intro = updaateMyfavData.intro;
                                }
                            }
            
                            localStorage.setItem("data",JSON.stringify(this.allspotdata));
                            this.showeEditplace = false;
                        }
                        

                        
                    
                    },

                    toPage(i){
                        this.currentPage = i;
                    },

                },
                computed:{
                    myfavlist(){
                    if( this.allspotdata != null){
                        if(this.allspotdata.length<=6){
                            this.pages = 0
                        }else{
                            this.pages = Math.ceil(this.allspotdata.length / 6);
                            return this.allspotdata.slice((this.currentPage - 1)*6, this.currentPage * 6);
                        }
                        // console.log(this.allspotdata);
                        return this.allspotdata;
                    }
                     
               }
                },

                mounted() {
                    //取localstorage的data資料
                    let data =  localStorage.getItem("data");
                    // console.log(data);
                    this.allspotdata = JSON.parse(data);
                    this.pages = Math.ceil(this.allspotdata.length / 6);
                },


            })


        </script>


    </div>
    
</body>
</html>