<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@2"></script>
    <title>首頁</title>
</head>
<body>

    <div id="index_app">
        <header></header>
        <main>

            <!-- 搜尋欄 -->
            <ul class="category"> 
                <li class="choosecategory" @click="isshow()">{{categorytitle}}</li>
                <ol v-show="show">
                    <li  @click="showCategoryTitle(allcategorytitle)" >{{allcategorytitle}}</li>
                    <li v-for="category in categories" @click="showCategoryTitle(category)">{{category}}</li>
                </ol>
            </ul>

            <div class="info">
                <!-- 景點資料 -->
                <ul class="card">
                    <li v-for="(spot,index) in spotList" class="card_inner">
                        <a :href="spot.url"><img :src="spot.images[0].src" alt=""></a>
                        <h1>{{spot.name}}</h1>
                        <h3>{{spot.address}}</h3>
                        <h3>{{spot.tel}}</h3>
                        <p>{{spot.introduction}}</p> 
                        <div><button>加入最愛</button></div>
                    </li>
                </ul>

                <!-- 頁碼 -->
                <ul class="pages">

                
                    <li v-for="page in pages"  @click="toPage(page)" :class="{currentPage:whichpage === (page)}">{{page}}</li>
                    
                </ul>

            </div>
            


        </main>

       
    </div>

    <script>
        new Vue({
            el:"#index_app",
            data:{
                allspot: [],  //全部景點
                spottype: [], //景點種類
                pages: null, //頁碼   // 利用 this.pages = Math.ceil(this.allspot.length / 6); 取出頁碼資料
                currentPage: 1, //分頁
                show:false,
                categorytitle:"請選擇分類",
                allcategorytitle:"全部景點",
                categoryfilter:[], //篩選後的資料包含全部

            },
            methods: {
                toPage(i){ //判斷目前點選的頁面
                    // console.log(i);
                    this.currentPage = i;
                },

                isshow(){
                    this.show = ! this.show;
                },

                showCategoryTitle(sort){
                    this.categoryfilter = this.allspot
                    this.categorytitle = sort;
                    this.show = ! this.show;

                    if(sort == this.allcategorytitle){
                        
                      this.newallspot = this.allspot;
                      this.pages = Math.ceil(this.newallspot.length / 6);  
                      return this.categoryfilter = this.newallspot
                     
                    
                    }else if(sort !== this.allcategorytitle){
                        let samesort =[];
                        let samecategory = this.allspot.filter(function(item,index){

                            for(let i = 0 ; i < item.category.length; i++){    
                                this.spottype = sort;
                                if(item.category[i].name == this.spottype){
                                    samesort.push(item);
                                }
                            }       
                        });
                    
                        this.pages = Math.ceil(samesort.length / 6);
                        return this.categoryfilter = samesort;
                    }
                    
                },

            },
            computed:{
                // 單頁顯示六筆資料
               spotList(){
                    return this.categoryfilter.slice((this.currentPage - 1)*6, this.currentPage * 6);
               },
                //全部景點種類
                categories(){
                    let allcategories = [];
                    for(let i = 0; i < this.allspot.length ; i++){
                        // console.log(this.allspot[i].category.length);
                        for(let y = 0 ; y < this.allspot[i].category.length ; y++){
                            // console.log(this.allspot[i].category[y].name);
                            let categoryname = this.allspot[i].category[y].name
                            allcategories.push(categoryname)
                        } 
                    } 
                    // console.log(allcategories);

                    let newallcategories = allcategories.filter(function (element, index, self) {
                        return self.indexOf(element) === index;
                    });
                    return newallcategories;
               },

            },

            mounted() {
                // 全部景點資料
                fetch("./travel_taipei.json",{
                    method: 'GET',
                    headers: { "Content-Type": "application/json"},
                })  
                .then(resp => resp.json())
                .then((apidata) => {
                    this.allspot = apidata.data;
                    this.categoryfilter = this.allspot;
                    this.pages = Math.ceil(this.categoryfilter.length / 6);  // 30 / 6 = 5  一頁顯示六個 有五頁
                    // console.log(this.allspot);

                })
            },


        })



    </script>
    
</body>
</html>