<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://kit.fontawesome.com/8fd0ed157c.js" crossorigin="anonymous"></script>
    <title>首頁</title>
</head>
<body>

    <div id="index_app">
        <div class="wrapper"> 

            <header>
                <a href="./index.html" class="logo"><img src="./images/logo.png" alt=""></a>
                
                <div class="header_right">
                    <a href="./index.html">Taipei Spot</a>
                    <button class="myfav"><a href="./fav.html"><i class="fa-solid fa-heart"></i> <span>{{allSpotDataTotal}}</span></a></button>
                </div>
                
            </header>
            <main>
    
                <!-- 搜尋欄 -->
                <ul class="category"> 
                    <li class="choosecategory" @click="isshow()">{{categorytitle}}</li>
                    <ol v-if="show">
                        <li  @click="showCategoryTitle(allcategorytitle)" >{{allcategorytitle}}</li>
                        <li v-for="category in categories" @click="showCategoryTitle(category)">{{category}}</li>
                    </ol>
                </ul>
                    
          
                <!-- 景點資料 -->
                <ul class="card">
                    <li v-for="(spot,index) in spotList" class="card_inner">
                        <a :href="spot.url"><img :src="spot.images[0].src" alt=""></a>
                        <h1>{{spot.name}}</h1>
                        <h3>{{spot.address}}</h3>
                        <h3>{{spot.tel}}</h3>
                        <p>{{spot.introduction}}</p> 
                        <div><button @click="addtofav(spot.id, spot.images[0].src,spot.name, spot.address, spot.tel, spot.introduction)">加入最愛</button></div>
                    </li>
                </ul>

                <!-- 頁碼 -->
                <ul class="pages">

                
                    <li v-for="page in pages"  @click="toPage(page)" :class="{currentPage:currentPage === (page)}">{{page}}</li>
                    
                </ul>
    

    
            </main>

        </div>
        
       
    </div>

    <script src="./js/index.js"></script>

</body>
</html>